.utility-centre{ 
    text-align: center;
}
.but-margin-medium{
    margin-bottom: 8rem;
}
.but-margin-small{
    margin-bottom: 1.7rem;
}
.top-margin-medium{
    margin-top: 8rem;
}
.top-margin-small{
    margin-top: 4rem !important;
}